  
  .badge{
    border-radius: 2px 2px 0 0;
    bottom: 100%;
    display: inline-block;
    font-size: 7px;
    font-weight: 700;
    left: -1px;
    letter-spacing: 1px;
    margin-left: -1px;
    padding: 4px 5px 3px;
    position: absolute;
    text-transform: uppercase;
    vertical-align: top;
    background: #ffdd57;
    color: rgba(0,0,0,.7);

    &.COMPLETED{
      background-color: #48c774;
      color: #fff;
    }

    &.ACTIVE{
      background-color: #3298dc;
      color: #fff;
    }
  }

